<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="/home">
<head>
    <meta charset="UTF-8">
    <title>Update Declarant</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">ACCUEIL</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/declarants">DECLARANT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="declarations">DECLARATION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/paiements">PAIEMENT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Modification des  Declarants </h1>
            <div class = "card-body">
                <form th:action="@{/declarants/{id} (id=${declarant.id})}" th:object = "${declarant}" method="POST">
                    <div class ="form-group">
                        <label> Raison Sociale </label>
                        <input
                                type = "text"
                                name = "raisonSociale"
                                th:field = "*{raisonSociale}"
                                class = "form-control"
                                placeholder="Enter Declarant Raison Sociale"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Adresse </label>
                        <input
                                type = "text"
                                name = "adresse"
                                th:field = "*{adresse}"
                                class = "form-control"
                                placeholder="Enter Adresse"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Email </label>
                        <input
                                type = "email"
                                name = "email"
                                th:field = "*{email}"
                                class = "form-control"
                                placeholder="Enter Email"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Telephone </label>
                        <input
                                type = "text"
                                name = "telephone"
                                th:field = "*{telephone}"
                                class = "form-control"
                                placeholder="Enter Telephone"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>